.menu-icon{
  font-size:32px;
  color:white;
  cursor:pointer;
  position:absolute;
  right:20px;
  top:18px;
  z-index:1000;
}

/* MENÚ */
#menu{
  display:none;
  position:absolute;
  top:70px;
  right:20px;
  background:#7fb239;
  border-radius:10px;
  padding:10px;
  width:180px;
  text-align:left;
  z-index:500;
}

/* CUANDO SE ABRE */
#menu.mostrar{
  display:block;
}

/* LINKS */
#menu a{
  display:block;
  color:white;
  text-decoration:none;
  padding:10px;
  font-weight:600;
}

#menu a:hover{
  background:#6aa32f;
  border-radius:6px;
}

/* FUENTE GENERAL */
body{
  margin:0;
  font-family:'Quicksand', sans-serif;
  background:#c7e89a;
  text-align:center;
}

/* HEADER */
header{
  background:#7fb239;
  padding:20px;
  position:relative;
  text-align:center;
}

/* LOGO */
.logo-texto{
  font-family:'Pacifico', cursive;
  color:white;
  margin:0;
}


/* HERO */
.hero{
  padding:50px 20px;
}

.hero h2{
  font-family:'Playfair Display', serif;
}

/* BOTÓN */
.boton{
  display:inline-block;
  margin-top:20px;
  padding:12px 22px;
  background:#7fb239;
  color:white;
  text-decoration:none;
  border-radius:8px;
  font-weight:600;
}

.boton:hover{
  background:#5f8f2a;
}

/* PRODUCTOS */
.productos{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.producto{
  background:white;
  padding:20px;
  margin:15px;
  width:200px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

/* FOOTER */
footer{
  background:#7fb239;
  color:white;
  padding:15px;
  margin-top:40px;
}

.producto img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
}
